.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("../../assets/construction-material.jpg");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  background-attachment: fixed;
}

.wrap_info {
  border: 3px solid #777;
  background: burlywood;
  opacity: 0.9;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 50px;
  text-align: left;
  border-radius: 16px;
  opacity: 1;
  height: 400px;
  padding: 20px;
  h1 {
    font-size: 32px;
    font-family: "Montserrat";
    color: white;
  }

  h2 {
    font-size: 28px;
    font-family: "Montserrat";
    color: white;
  }

  p {
    padding: 0 19px 0 19px;
    font-size: 16px;
    font-family: "Montserrat";
  }

  button {
    width: 200px;
    color: #2c2c2c;
  }

  button {
    color: #2c2c2c;
    font-family: "Montserrat";
    outline: none;
    padding: 12px 17px;
    border: none;
    font-size: 18px;
    &:hover {
      background-color: rgb(15, 209, 15);
    }
    border: 2px solid #777;
    cursor: pointer;
  }
}