.main {
  width: 100%;
  height: 550px;
  position: relative;
  .nextClick {
    z-index: 1;
    position: absolute;
    top: 270px;
  }
  .prevClick {
    z-index: 1;
    position: absolute;
    top: 270px;
    right: 1px;
  }
  .mainImg {
    width: 100%;
    height: 100%;
    .mainImgContents {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
:global {
  .slick-slide {
    margin-top: 100px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .slick-dots {
    background: #eeeeee;
  }
  .slick-dots li button:before {
    font-size: 10px;
    color: #27a356;
  }
  .slick-dots li.slick-active button:before {
    color: #27a356;
  }
  .slick-track {
    height: 100%;
  }
}
