.headerContent {
  width: 100%;
  height: 143px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 20px 70px 0 70px;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  background-color: green;
  z-index: 100;
  img {
    width: 190px;
    height: 90px;
  }
  p {
    color: #27a356;
  }
 
  .contacts {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      width: 30px;
    }
    div {
      display: flex;
      flex-direction: column;
      b {
        color: #27a356;
        font-family: sans-serif;
      }
      b:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  .location {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      width: 43px;
    }
  }
  .materials {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      width: 30px;
    }
  }
}
