.wrapper {
  background-color: rgb(9, 29, 14);
  padding: 50px 20px;
  width: 100%;
  display: flex;
  gap: 90px;
  font-size: 14px;
}

.logo {
  color: wheat;
  font-family: "Montserrat", sans-serif;
  img {
    width: 190px;
    height: 90px;
    margin-bottom: 40px;
  }
}

.footer_service {
  color: wheat;
  font-family: "Montserrat", sans-serif;
  h4 {
    font-size: 24px;
  }
  ul {
    margin-top: 20px;
    list-style: none;
    li {
      margin-bottom: 15px;
    }
  }
}

.footer_feedback {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.contacts {
  display: flex;
  align-items: center;
  gap: 12px;
  color: wheat;
  font-family: "Montserrat", sans-serif;
  img {
    width: 43px;
    filter: contrast(0);
  }

  div {
    display: flex;
    flex-direction: column;

    b {
      font-size: 20px;
      color: #27a356;
      font-family: sans-serif;
    }

    b:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.location {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: wheat;
  font-family: "Montserrat", sans-serif;
  img {
    width: 43px;
    filter: contrast(0);
  }
}

.materials {
  color: wheat;
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: 43px;
    filter: contrast(0);
  }
}
