.main {
  width: 100%;
  height: 590px;
  position: relative;
  background: #eee;
  .prevClick {
    z-index: 1;
    position: absolute;
    top: 270px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    img {
      width: 40px;
    }
  }
  .nextClick {
    z-index: 1;
    position: absolute;
    top: 270px;
    right: 0px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transform: rotate(180deg);
    img {
      width: 40px;
    }
  }
  .mainImg {
    width: 100%;
    height: 470px;
    .mainImgContents {
      position: relative;
      width: 100%;
      cursor: pointer;
      b {
        font-family: "Montserrat", sans-serif;
        background-color: #27a356;
        color: #ffffff;
        position: absolute;
        padding: 0 5px 0 5px;
        top: 30px;
        left: 30px;
      }
      img {
        border-radius: 10px;
        width: 100%;
        height: 400px;
      }
    }
    .mainImgContents:hover {
      -webkit-box-shadow: 0px 36px 30px 13px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 36px 30px 13px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 36px 30px 13px rgba(34, 60, 80, 0.2);
      transition: 0.5s;
    }
  }
}
:global {
  .slick-slide {
    margin-top: 90px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .slick-dots {
    background: #eeeeee;
  }
  .slick-dots li button:before {
    font-size: 10px;
    color: #27a356;
  }
  .slick-dots li.slick-active button:before {
    color: #27a356;
  }
  .slick-track {
    height: 100%;
  }
}
