* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid {
  padding-left: 57px;
  grid-template-areas: "nav content content";
  grid-template-columns: 1fr 10fr;
}
.sidebar {
  position: fixed;
  grid-area: nav;
}
.content {
  grid-area: content;
}
