* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-areas: "nav content content";
  grid-template-columns: 1fr 19fr;
}
.sidebar {
  position: fixed;
  grid-area: nav;
  z-index: 1000;
}
.content {
  grid-area: content;
}
